body {
    margin: 0;
    padding: 0;
}

/* ===============================
SEARCH BAR
==================================*/

#search-bar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 80px;
    z-index: 1;
}

  