body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ===============================
SEARCH BAR
==================================*/

#search-bar {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 80px;
    z-index: 1;
}

/* ===============================
SHOW GRID MODAL BOX
==================================*/

.show-grid-modal-box{
    position: absolute;
    background-color: rgba(16,24,32,0.75);
    height: 40px;
    padding-right: 10px;
    padding-left: 16px;
    right: 40px;
    top: calc(50% - 15px);
    color: white;
    font: 12px/40px 'Roboto', sans-serif;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    z-index: 1;
}

.btn-show-grid {
    fill:white;
    vertical-align: middle;
    margin-left: 3px;
    margin-bottom: 3px;
}

.show-grid-modal-box:hover {
    background-color: #101820;
    cursor: pointer;
}

/* ===============================
GALLERY AREA
==================================*/

.gallery-container {
    position: relative;
    margin-top: 80px;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.photos-container {
    height: 400px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 2fr 1fr 1.2fr;
    grid-gap: 4px;
}

.photos-container > div {
    justify-items: center;
    overflow: hidden;
    position: relative;
}

.photos-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HOVER AND OVERLAY */

.photos-container div:hover img {
    transform: scale(1.015);
    transition: all 0.4s;
}

.photos-container div::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.15);
  transition: all 0.4s;
}

.photos-container div:hover::before {
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}

/* ===============================
GALLERY - INDIVIDUAL PHOTOS
==================================*/

.img-1 {
    grid-row: 1 / 3;
}

.img-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.img-3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.img-4 {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

.img-5 {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

.img-6 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.img-7 {
    grid-row: 1 / 3;
    grid-column: 5 / 6;
}

/* ===============================
MODAL
==================================*/

.modal {
    display: block;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(16,24,32,.95); 
}        
/* use header for both slideshow and grid */
.modal-title {
    margin: 28px 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 17px;
    letter-spacing: .086em;
}

.button-bar {
    position: absolute;
    right: -20px;
    top: 20px;
    z-index: 10;

}

/* ===============================
MODAL TRANSITION ANIMATION
==================================*/
@keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }

.zoomIn {
    animation-name: zoomIn;
    animation-duration: 0.3s;
}

@keyframes zoomOut {
    from {
    opacity: 1;
    }

    50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
    opacity: 0;
    }
}

.zoomOut {
    animation-name: zoomOut;
    animation-duration: 0.3s;
}

/* ===============================
SLIDESHOW
==================================*/

/*button bar*/
.slideshow-view-index {
    font-size: 14px;
    letter-spacing: .013em;
    color: white;
    margin-right: 20px;
}

.open-grid-view {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #656666;
    cursor: pointer;
    height: 32px;
    margin: 4px 11px 4px 0;
    padding-right: 16px;
}

.open-grid-svg {
    fill: white;
    margin: 12% 12%;
}

.close-modal {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.x-btn-close-modal {
    fill:white;
    height: 36px;
    width: 36px;
    margin: 6% 6%;
}

.close-modal:hover {
    background: white;
    cursor: pointer;
}

.close-modal:hover .x-btn-close-modal {
    fill: rgba(16, 24, 32, 1);
}

/*slideshow buttons*/
.container-prev-slide,
.container-next-slide {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 46%;
    text-align: center;
    border-radius: 50%;
}

.container-prev-slide {
    left: 40px;
}

.container-next-slide {
    right: 40px;
}

.btn-prev-slide,
.btn-next-slide {
    fill: white;
    height: 100%;
    width: 100%;
}

.container-prev-slide:hover,
.container-next-slide:hover {
    background:rgba(16,24,32,0.95); 
    cursor: pointer;
}

/*slideshow images*/
.slideshow-photo-view {
    height: calc(100vh - 76px - 92px - 20px);
    padding: 10px 40px;
}

.slideshow-img {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.slideshow-img > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*slideshow footer*/
.slideshow-footer {
    width: 100%;
    height: 52px;
}

.slideshow-separator {
    border-bottom: 1px white solid;
    border-top: 1px white solid;
    height: 2px;
    margin-bottom: 8px;
    margin-top: 16px;
    margin-left: 40px;
    width: 32px;
}

.slideshow-user-avatar {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-left: 40px;
    margin-right: 12px;
    vertical-align: middle;
}

.slideshow-user-name {
    display: inline-block;
    color: white;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.013em ;
    line-height: 24px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: left;
}

/* ===============================
GRID MODAL
==================================*/

.grid-photo-view {
    height: calc(100vh - 76px - 20px);
    width: 96%;
    margin: 0.5% 2%;
    overflow: scroll;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2px;
}

.grid-container .modal-img {
    height: 31vw;
    width: 31vw;
    position: relative;
    overflow: hidden;
    margin: 2px;
}

.modal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HOVER AND OVERLAY */

.modal-img:hover img{
    transform: scale(1.015);
    transition: all 0.4s;
}
.grid-container .modal-img::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.15);
  transition: all 0.4s;
}

.grid-container .modal-img:hover::before {
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}

/* SCROLLBAR */

.grid-photo-view::-webkit-scrollbar {
    width: 10px;
}

.grid-photo-view::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border-radius: 10px;
}

.grid-photo-view::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.grid-photo-view::-webkit-scrollbar-corner {
    background:transparent;
  }

/* ===============================
FONTS
==================================*/
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Calibre-Medium';
    src: url('./media/fonts/CalibreWeb-Medium.woff2') format('woff2');
  }
  